#~
*.elc
*~
.mc-lists.el
.org-id-locations
abbrev_defs
ac-comphist.dat
auto-save-list
backups
customizations.el
elpa
eshell
ido.last
init.el
javadoc-cache
network-security.data
old-*
recentf
tramp
tutorial
url
